/*<!-- 
<Prana-deutschland. The platform for the homeless>
    Copyright (C) <2016-2017>  <Oscar Arjun Singh Tark, Emilie Caron, Robinson Choe and all underlying members of Prana-deutschland>
    <Original programmers: Oscar Arjun Singh Tark, Robinson Choe>

    Visitable link: www.prana-deutschland.de , for any inquiries contact at contact@prana-deutschland.de

    This file is part of Prana-deutschland.

    Prana-deutschland is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Prana-deutschland is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Prana-deutschland.  If not, see <http://www.gnu.org/licenses/>.
-->*/

#logo_login
{
margin-top: 0%;
margin-left: 3.5%;
font-family: 'Reenie Beanie', 'ReenieBeanie', regular;
font-size: 100px;
}

#logo
{
    margin-left: 347px;
}

#lang_selector {
    margin-right: 2.1%;
    margin-top: 0.1%;
}

#uacnt {
    margin-top: 14px;
    margin-right: 13.4px;
}

#top_banner
{
    background-color: rgba(9, 103, 126, 1);
    float: right;
    width: 100%;
    margin-top: 0%;
    height: 45px;
    color: white;
    position: fixed;
    z-index: 1500;
}

#login_pnt
{
margin-top: 8%;
margin-bottom: -18px;
margin-left: 50%;
float: left;
}

#input_fm
{
margin-top: 3%;
margin-left: 12.3%;
float: left;
width: 73%;
}

#required_su
{
float: left;
margin-left: 13%;

  font-family: 'Arial', regular;
color: #FF7F27;
margin-top: 1.5%;
}


input {
  color: #31859C;
  opacity: 1.0;
  background-color: white;
  float: none;
  display: block;
  border: 1px solid #31859C;
  font-family: 'Arial', regular;
  font-size: 14px;
  border-radius: 2px;
}

input:hover {
  color: #31859C;
  opacity: 1.0;
  background-color: whitesmoke;
}

#login_txt
{
font-family: 'Arial',regular;
font-size: 25px;
  color: #31859C;
  float: left;
  margin-left: 10%;
}

#unme_txt
{
font-family: 'Arial',regular;
font-size: 14px;
color: #31859C;
float: left;
margin-top: 3.5%;
margin-left: 0%;
margin-bottom: 8px;
}

#f_nme, #l_nme
{
font-family: 'Arial',regular;
font-size: 14px;
color: #31859C;
float: left;
margin-top: 0%;
margin-left: 0%;
margin-bottom: 8px;
}

#Area
{
font-family: 'Arial',regular;
font-size: 14px;
color: #31859C;
float: left;
margin-top: 2%;
margin-left: 0%;
margin-bottom: 8px;
}

#sign_upbttn
{
float: right;
margin-right: 0px;
margin-top: 0px;
}

#pwd_txt
{
font-family: 'Arial',regular;
font-size: 14px;
color: #31859C;
float: left;
margin-top: 6px;
margin-left: 0%;
margin-bottom: 8px;
}

#beut_loggy
{
float: left;
width:100%;
height:65%;
background-color: white;
margin-left: 0%;
margin-right: 0%;
margin-bottom: 0%;
border-radius: 0px;
}

#beut_loggy_old
{
float: left;
background-color: white;
margin-left: 2.3%;
margin-right: 1%;
margin-bottom: 1%;
border-radius: 5px;
}

#forgot_txt
{
float:left;
font-family: 'Arial', regular;
}

#login_button
{
float: right;
color: white;
background-color: #31859C;
margin-right: 6px;
}


#login_content
{
border-radius: 5px;
color: #FF7F27;
opacity: 0.9;
border: 1px solid #FF7F27;
background-color: white;
float: none;
margin-left: 25%;
margin-right: 25%;
margin-bottom: 12%;
margin-top: 12%;
height: 600px;
width: 390px;
}